*{
    padding: 0;
    margin: 0;
}

body p{
    font-size: 16px;
   font-family:  'Roboto', sans-serif;
 
}
/* below there is header style for contact.html */
header{
   background-color: rgb(58, 54, 54);
   display: flex;
   flex-direction: column; 
   text-align: left;
  
   
}
 header h1{
    margin-left: 340px; 
   
 }  

 header p{
    text-align: center;
    color: aliceblue;
    margin-left: 180px;
    font-size: 1.5rem;
    padding-top: 40px;
 }

.word1{
    color: rgb(234, 123, 82);
    font-size: 3.5em;
    font-weight: bold;
    margin-right: 10px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;

}
.word2{
    color: aliceblue;
    font-size: 3em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul{
    display: flex;
    
    flex-wrap: wrap;
    margin-left: 350px;
    
 
   
}
nav ul li{
    list-style: none;
   padding-right: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
nav ul li a{
   
    text-decoration: none;
    font-size: 1.5em;
    background-color:rgb(121, 192, 15);
    border: 1px solid rgb(121, 192, 15);
    border-bottom-left-radius: 0.5em;
    border-width:15px ;
   
    font-weight:bolder;
    color: aliceblue;
   

}
nav ul li a:hover{
    background-color:gray ;
    border: 1px solid gray;
    border-width:15px ;
    border-bottom-left-radius: 0.5em;
    
}

#contact{
    background-color:rgb(221, 109, 69);
    border: 1px solid rgb(221, 109, 69);
    border-width:15px ;
    border-bottom-left-radius: 0.5em;
   
    

}
/*main style for contact.html */
.contact1 {
    display: flex;
    flex-direction: row; 
    justify-content: flex-start; 
    align-items: flex-start; 
}
.contact-me{
width: 600px;
margin-right: 40px;
margin-left: 350px;
}
.contact1 h2{
color: rgb(121, 192, 15);
margin-top: 40px;
margin-bottom: 30px;
font-size: 2.5rem;
}
.top-bottom{
    margin-bottom: 20px;
   
 }
 .sp{
    color: rgb(97, 94, 94);
    margin-top: 10px;
    margin-bottom: 20px;
 }
form input{
    width: 500px ;
    height: 30px;
    margin-bottom: 40px;
}
textarea{
    width: 500px ;
    height: 140px;
    margin-bottom: 30px;
}
button {
    width: 120px;
    height: 40px;
    padding: 20px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color:rgb(246, 237, 237); 
    border: 1px solid rgb(182, 176, 176); 
    border-radius: 10px;
    color: black ; 
    font-size: 20px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

button:hover {
    background-color: darkgrey; 
}
form p{
    margin-bottom: 10px;
}


/* about.html foooter style */
footer{
    background-color:rgb(58, 54, 54);
    color: white;
   margin-top: 80px;
 }
.about{
    width: 400px;
    margin-left: 60px;
    margin-right: 45px;
    margin-bottom: 60px;
   
}
#footer{
    display: flex;
    justify-content: center;
    margin-left: 240px;
    
}
.footer-img{
    margin-left: 10px;
}
.footer-img img{
    width: 80px;
    height: 80px;
   padding: 5px;
}
.first-line ,.second-line{
    margin-left: 0px;
}
.about img{
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 20px;
    margin-bottom: 5px;
   
}

#footer h3{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 2rem;
}
.right-most-footer .bottom{
    margin-top: 30px;
}
#footer a{
   color: rgb(121, 192, 15);
}
.footer-last ul{
    list-style: none;
    display: flex;
    margin-left: 300px;
}
.footer-last ul li a{
    text-decoration: none;
    color: aliceblue;
    margin-left: 30px;
    font-size: 20px;
}

.last-footer{
    
    display: flex;
    justify-content: center;
   background-color: rgb(41, 41, 41);
    padding: 40px;
}
.last-footer p{
    margin-left:300px ;
}
.last-footer .green{
    color: rgb(121, 192, 15);
  } 
  .right-most-footer{
    width:300px ;
  }
    
    